<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-androidsupportlibrary-xdk"
    version="1.0.20">
	
    <name>androidsupportlibrary (mediarouter)</name>
    <description>androidsupportlibrary (mediarouter)</description>
    <author>Sang Ki Kwon (Cranberrygame)</author>		
    <license>MIT</license>
    <keywords>androidsupportlibrary, mediarouter</keywords>
    <repo>https://github.com/cranberrygame/cordova-plugin-androidsupportlibrary-xdk</repo>
    <issue>https://github.com/cranberrygame/cordova-plugin-androidsupportlibrary-xdk/issues</issue> 	
	<engines>
	    <engine name="cordova" version=">=3.0.0" />
	</engines>
		
    <platform name="android">
<!-- cranberrygame start-->	
		<!--dependency id="android.support.v4@1.0.0" /-->
		<!--dependency id="android.support.v4" url="https://github.com/cranberrygame/com.cranberrygame.cordova.plugin.dummy.android.support.v4" commit="b5e33725e6e5622cafa72b35011fe5496f11d104" /-->
<!-- cranberrygame end-->

        <!-- add libraries -->
        <framework src="appcompat" custom="true" />
        <framework src="mediarouter" custom="true" />
<!--		
        <framework src="google-play-services_lib" custom="true" />

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        </config-file>
-->

    </platform>
</plugin>